In [ ]:
TITLE:Crime Prediction and Legal Decision Support System

In [ ]:
project objective:This project aims to predict legal outcomes like  punishment type using crime data and machine learning, enhancing 
decision-making accuracy and fairness in judicial processes.

In [ ]:
import pandas as pd

In [ ]:
Legal_decisions=pd.read_csv(r"C:\Users\lasya\OneDrive\Desktop\DS PROJECT\ds project2\crime_dataset.csv")

In [ ]:
# Strip whitespace and convert to lowercase for easier reference
Legal_decisions.columns = Legal_decisions.columns.str.strip().str.lower()

In [ ]:
#data types and missing values
Legal_decisions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1005062 entries, 0 to 1005061
Data columns (total 28 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   dr_no           1005062 non-null  int64
 1   date rptd       1005062 non-null  object
 2   date occ        1005062 non-null  object
 3   time occ        1005062 non-null  int64
 4   area            1005062 non-null  int64
 5   area name       1005062 non-null  object
 6   rpt dist no     1005062 non-null  int64
 7   part 1-2        1005062 non-null  int64
 8   crm cd          1005062 non-null  int64
 9   crm cd desc     1005062 non-null  object
 10  mocodes         853371 non-null   object
 11  vict age        1005062 non-null  int64
 12  vict sex        860345 non-null   object
 13  vict descent    860333 non-null   object
 14  premis cd       1005046 non-null  float64
 15  premis desc     1004474 non-null  object
 16  weapon used cd  327246 non-null   float64
 17  weapon desc     327246 non-null   object
 18  status          1005061 non-null  object
 19  status desc     1005062 non-null  object
 20  crm cd 1        1005051 non-null  float64
 21  crm cd 2        69158 non-null    float64
 22  crm cd 3        2314 non-null     float64
 23  crm cd 4        64 non-null       float64
 24  location        1005062 non-null  object
 25  cross street    154237 non-null   object
 26  lat             1005062 non-null  float64
 27  lon             1005062 non-null  float64
dtypes: float64(8), int64(7), object(13)
memory usage: 214.7+ MB

In [ ]:
#no.of rows and coloumns
Legal_decisions.shape

(1005062, 28)

In [ ]:
#missing values
Legal_decisions.isnull().sum()

dr_no                   0
date rptd               0
date occ                0
time occ                0
area                    0
area name               0
rpt dist no             0
part 1-2                0
crm cd                  0
crm cd desc             0
mocodes            151691
vict age                0
vict sex           144717
vict descent       144729
premis cd              16
premis desc           588
weapon used cd     677816
weapon desc        677816
status                  1
status desc             0
crm cd 1               11
crm cd 2           935904
crm cd 3          1002748
crm cd 4          1004998
location                0
cross street       850825
lat                     0
lon                     0
dtype: int64

In [ ]:
#summary statistics
Legal_decisions.describe()

,dr_no,time occ,area,rpt dist no,part 1-2,crm cd,vict age,premis cd,weapon used cd,crm cd 1,crm cd 2,crm cd 3,crm cd 4,lat,lon
count,1.005062e+06,1.005062e+06,1.005062e+06,1.005062e+06,1.005062e+06,1.005062e+06,1.005062e+06,1.005046e+06,327246.000000,1.005051e+06,69158.000000,2314.000000,64.00000,1.005062e+06,1.005062e+06
mean,2.202237e+08,1.339916e+03,1.069118e+01,1.115577e+03,1.400321e+00,5.001575e+02,2.891497e+01,3.056110e+02,363.956088,4.999180e+02,958.099410,984.015990,991.21875,3.399821e+01,-1.180909e+02
std,1.319917e+07,6.510525e+02,6.110389e+00,6.111739e+02,4.899635e-01,2.052652e+02,2.199329e+01,2.193022e+02,123.733895,2.050656e+02,110.356503,52.350982,27.06985,1.610656e+00,5.582189e+00
min,8.170000e+02,1.000000e+00,1.000000e+00,1.010000e+02,1.000000e+00,1.100000e+02,-4.000000e+00,1.010000e+02,101.000000,1.100000e+02,210.000000,310.000000,821.00000,0.000000e+00,-1.186676e+02
25%,2.106169e+08,9.000000e+02,5.000000e+00,5.870000e+02,1.000000e+00,3.310000e+02,0.000000e+00,1.010000e+02,311.000000,3.310000e+02,998.000000,998.000000,998.00000,3.401480e+01,-1.184305e+02
50%,2.209160e+08,1.420000e+03,1.100000e+01,1.139000e+03,1.000000e+00,4.420000e+02,3.000000e+01,2.030000e+02,400.000000,4.420000e+02,998.000000,998.000000,998.00000,3.405890e+01,-1.183225e+02
75%,2.311104e+08,1.900000e+03,1.600000e+01,1.613000e+03,2.000000e+00,6.260000e+02,4.400000e+01,5.010000e+02,400.000000,6.260000e+02,998.000000,998.000000,998.00000,3.416490e+01,-1.182739e+02
max,2.521041e+08,2.359000e+03,2.100000e+01,2.199000e+03,2.000000e+00,9.560000e+02,1.200000e+02,9.760000e+02,516.000000,9.560000e+02,999.000000,999.000000,999.00000,3.433430e+01,0.000000e+00